[submodule "emacs.d/vendor/feature-mode"]
	path = emacs.d/vendor/feature-mode
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "emacs.d/vendor/elein"]
	path = emacs.d/vendor/elein
	url = http://github.com/remvee/elein.git
[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
